<! DOCTYPE html>
    <html lang="en-us">

    <head>
        <meta charset="UTF-8">
        <title>Beer USA</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

        <!-- <style>
            body {
                background: url("../clear-blue-sky-2.jpg");
                background-size: cover;
                background-blend-mode: lighten;
            }
        </style>
    -->

    </head>

    <style>
        nav {
            font-size: 22px;
        }
    </style>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">US Beer Market<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/state">State Brewery Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nc_breweries">Find a Brewery</a>
                    </li>
                </ul>
            </div>
        </nav>

        <division>
            <div class="container-fluid pl-6 pr-5">
                <div class="row ml-3 mt-3 mb-3">
                    <div class="col-md-12">
                        <h5>National Beer Production and Consumption Trends</h5>
                        <p>Overview of national tends.</p>
                        <p>Other info.</p>
                        <p>List source data.</p>
                    </div>
                </div>

                <div class="row ml-3">
                    <div id="my_dataviz1" class="col-md-8">
                        <h6>National Beer Production Trends -- Total Barrels Produced</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>National Beer Production -- All Breweries</h6>
                        <p>Over the last 10 years, US beer production has declined from 195MM bbls annually to 179MM
                            bbls annually as consumer tastes have shifted, primarily to wines and spirits.</p>
                        <p>The large, national breweries, definied as producing 6MM or more barrels annually, have
                            accounted for all of this decline and have lost additional market share to smaller craft
                            breweries producing under 6MM bbls.</p>

                    </div>
                </div>
                <div class="row ml-3">
                    <div id="my_dataviz2" class="col-md-8">
                        <h6>Growth in Craft Breweeries -- Craft Barrels Produced by Year</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>Craft Beer Production</h6>
                        <p>While nationral breweries have seedn production decline by nearly 35MM bbls, smaller craft
                            breweries have Nearly all of the declining production can be attributed to the declining
                            volumes from larger
                            breweries have seen production rise 19MM bbls in the last 10 years.</p>
                        <p>While the grwoth in craft brewery production has tapered off, this segment is still seeing
                            attractive growth of roughly 3.5% per year recently vs. declining total produciton of
                            roughly 1.5% per year.</p>
                    </div>
                </div>
                <div class="row ml-3">
                    <div id="my_dataviz3" class="col-md-8">
                        <h6>Growth in Craft Breweries -- Total Number by Type of Craft Breweries</h6>
                    </div>
                    <div class="col-md-4">
                        <h6>Craft Brewery Segments</h6>
                        <p>Define craft segments - Regional, Micro Brewery, Taproom, Brewpup</p>
                    </div>
                </div>

                <div id="map-id"></div>

                <div class="row ml-12">
                    <ul style="list-style: none;">
                        {% for location in locations %}
                        <li>{{ location.name }}; {{ location.brewery_type }}; {{ location.state }};
                            {{ location.latitude }}; {{ location.longitude }}</li>
                        {% endfor %}
                    </ul>

                </div>

            </div>

        </division>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <!-- Load d3.js -->
        <script src="https://d3js.org/d3.v4.js"></script>

        <!-- Chart source file -->
        <!-- <script type="text/javascript" src="../../Mapping/static/js/logic1.js"></script> -->
        <script type="text/javascript" src="static/js/Home_charts.js"></script>





    </body>