<! DOCTYPE html>
    <html lang="en-us">

    <head>
        <meta charset="UTF-8">
        <title>Beer USA</title>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
            integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/5.5.0/d3.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>


    </head>

    <style>
        nav {
            font-size: 22px;
        }
    </style>

    <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="/">US Beer Market<span class="sr-only">(current)</span></a>
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/state">State Brewery Data</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/nc_breweries">Find a Brewery</a>
                    </li>
                </ul>
            </div>
        </nav>

        <division>
            <div class="container-fluid pl-6 pr-5">
                <div class="row ml-3 mt-3 mb-3">
                    <div class="col-md-12">
                        <h5>National Beer Production and Consumption Trends</h5>
                    </div>
                </div>

                <div class="row ml-3 mt-6">
                    <div id="my_dataviz1" class="col-md-8"></div>
                    <div class="col-md-4">
                        <h6>National Beer Production -- All Breweries</h6>
                        <p>Over the last 10 years, US beer production has declined from 195MM bbls annually to 179MM
                            bbls annually as consumer tastes have shifted, primarily to wines and spirits.</p>
                        <p>The large, national breweries, defined as producing 6MM or more barrels annually, have
                            accounted for all of this decline, with production declining 35MM bbls during this period,
                            losing market share to smaller craft breweries producing under 6MM bbls.</p>

                    </div>
                </div>
                <div class="row ml-3">
                    <div id="my_dataviz2" class="col-md-8"></div>
                    <div class="col-md-4">
                        <h6>Craft Beer Production</h6>
                        <p>Craft breweries have seen production grow by 19MM bbls during the same time period, with
                            production increases fairly evenly split betwween larger craft breweries ((1-6MM bbls per
                            year), which experienced production increases of 9MM bbls, and smaller craft breweries (less
                            than 1MM bbls per annum), which experienced production increases of 10MM bbls.</p>
                        <p>While the grwoth in craft brewery production has tapered off, this segment is still seeing
                            attractive growth of roughly 3.5% per year recently vs. declining total beer produciton of
                            roughly 1.5% per year.</p>
                    </div>
                </div>

                <!-- NOTE:  The following was test code to confirm passage of data into server environment -->
                <!-- <div class="row ml-12">
                    <ul style="list-style: none;">
                        {% for location in locations %}
                        <li>{{ location.name }}; {{ location.brewery_type }}; {{ location.state }};
                            {{ location.latitude }}; {{ location.longitude }}</li>
                        {% endfor %}
                    </ul>
                </div> -->

            </div>

        </division>

        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
            integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
            crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
            integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
            integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>

        <!-- Load d3.js -->
        <script src="https://d3js.org/d3.v4.js"></script>

        <!-- Chart source file -->
        <!-- <script type="text/javascript" src="../static/js/index_charts.js"></script> -->
        <script src="{{ url_for('static', filename='js/index_charts.js') }}"></script>





    </body>